<launch>
  <param name="/use_sim_time" value="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">	
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" ns="/rover" args="-file $(find rover_project)/rover_description/urdf/rover.urdf -urdf -z 1 -model diff_rover" />
  
</launch>