<launch>
	<param name="robot_description" textfile="$(find rover_project)/rover_description/urdf/rover.urdf"/>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_project)/rover_description/launch/rviz_config.rviz" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub">
		<param name="use_gui" value="True"/>
	</node>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="True"/>
	</node>

</launch>